{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}

<div class="card">
    <div class="card-body">
        <h4>Seus dados</h4>
        <form name="editUsuario" action="/usuarios/usuarios/edit" method="POST">

            <input type="hidden" value="{{usuario._id}}" name="id">
            
            <label for="nome"><b>Nome:</b></label>
            <input type="text" name="nome" class="form-control" value="{{usuario.nome}}" required>

            <label for="sexo"><b>Sexo:</b></label>
            <select name="sexo" id="sexo" class="form-control custom-select">
                <option value="M">Masculino</option>
                <option value="F">Feminino</option>
            </select>
            
            <label for="dataNascimento"><b>Data de Nascimento:</b></label>
            <input type="date" name="dataNascimento" class="form-control" value="{{dateFormat usuario.dataNascimento "YYYY-MM-DD"}}" required>

            <label for="igreja"><b>Igreja:</b></label>
            <select name="igreja" id="igreja" class="form-control custom-select">
                {{#each igrejas}}
                    <option value="{{_id}}">{{nome}}</option>
                {{else}}
                    <option value="0">Nenhum igreja registrado</option>
                {{/each}}
            </select>

            <label for="telefone"><b>Telefone:</b></label>
                <input type="text" name="telefone" id="telefone" class="form-control" value="{{usuario.telefone}}" required>

            <label for="nome"><b>Email:</b></label>
                <input type="email" name="email" id="email" class="form-control" value="{{usuario.email}}" required><br>

            <div class="card">
                <div class="card-header"><h5 class="card-text">Altere sua senha</h5></div>
                <div class="card-body">
                    <label for="senhaAtual"><b>Senha Atual:</b></label>
                        <input type="password" name="senhaAtual" id="senhaAtual" class="form-control" value="">
                    <label for="nome"><b>Nova senha:</b></label>
                        <input type="password" name="senha" id="senha" class="form-control" value="">
                    <label for="nome"><b>Repita sua nova senha:</b></label>
                        <input type="password" name="senha2" id="senha2" class="form-control">
                    </div>
                </div>
            <button class="btn btn-success mt-2" type="submit">Salvar</button>
        </form>
    </div>
</div>

<script>
  document.getElementById('igreja').value = "{{usuario.igreja}}";
  document.getElementById('sexo').value = "{{usuario.sexo}}";
</script>